@{
    ViewData["Title"] = "Главная страница";
}

<section class="main-fon">
    <div class="for-angel"></div>
    <div class="main-wraper container">
        <div class="main-word-wraper">
            <div class="main-h"><h1>Лучшее качество с 1985 года</h1></div>
            <div class="main-p"><p>У нас широкий выбор изделий по катологу, так же вы можете предложить свою форму памтника, наши мастера выполнят любую работу</p></div>
            
            <a asp-action="CatalogPamyat" asp-controller="ShowProducts" class="btn btn-dark">Выбрать памятник</a>
            
        </div>
    </div>
</section>


<section class="list-2">
    <div class="list-2-wraper container">
        <div class="list-2-inf">
            <div class="l2-oglavl">О компании:</div>
            <div class="l2-text">
                <p>История нашей компании начинается в 1985 году. С того момента мы не стоим на месте и идем в ногу со временем, но не забываем о традиции. В приоритете для нас ручная работа, каждый портрет создается в ручную нашими мастерами. Основным материалом для изготовления памятников является камень из карелии котрый славится своим качеством во всем мире.  </p>
            </div>
            <div style="font-size: 250px">
                <p>Вова гей</p>
            </div>
        </div>
        <div class="list-2-foto"></div>
    </div>

</section>
